/* reza */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* animation */
@keyframes wheel {
    from {
        transform: translateY(2px);
        opacity: 1;
    }

    to {
        transform: translateY(20px);
        opacity: 0.1;
    }
}

.change-navbar {
    height: 75px !important;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(169, 169, 169, 0.342);

    >h1>a {
        color: #007bff !important;
    }

    >nav {
        a {
            color: #000 !important;
        }

        i {
            color: #000 !important;
        }

        li:first-of-type>a {
            color: #007bff !important;
        }
    }
}

/* first section */
.welcome-part {
    width: 100%;
    height: 100vh;
    background-image: url(img/hero_2.jpg);
    background-size: cover;
    background-position: center;

    >header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 95px;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: .4s;
        border-bottom: 1px solid rgba(255, 255, 255, 0.397);

        >h1 {
            height: 95px;
            text-transform: capitalize;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            >a {
                text-decoration: none;
                font-size: 33px;
                color: #fff;
            }

            >span {
                color: #007bff;
                font-size: 33px;
            }
        }

        >nav {
            width: 75%;
            height: 95px;
            text-transform: capitalize;
            z-index: 10;

            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                >li {
                    width: 11%;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;

                    &:first-of-type>a {
                        color: #fff;
                    }

                    >a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: rgba(255, 255, 255, .7);
                        font-size: 17px;
                        padding: 10px 0;
                        transition: all .4s;

                        &:hover {
                            color: #fff;
                        }
                    }

                    >i {
                        width: 20%;
                        font-size: 10px;
                        color: rgba(255, 255, 255, .7);
                    }

                    &:hover {
                        >ul {
                            top: 45px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    >ul {
                        position: absolute;
                        top: 55px;
                        left: -10px;
                        width: 220px;
                        height: 180px;
                        background-color: #fff;
                        opacity: 0;
                        visibility: hidden;
                        transition: .2s;

                        >li {
                            width: 220px;
                            height: 25%;
                            list-style-type: none;
                            position: relative;
                            left: -32px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;

                            &:first-of-type {
                                border-top: 2px solid #007bff;
                            }

                            &:hover {
                                background-color: rgba(236, 236, 236, 0.7);
                            }

                            >a {
                                width: 100%;
                                height: 100%;
                                text-decoration: none;
                                color: rgba(0, 0, 0, 1);
                                padding-left: 20px;
                                display: flex;
                                align-items: center;
                            }

                            >i {
                                margin: 5px 20px 0 0;
                                font-size: 12px;
                                color: rgba(0, 0, 0, 1);
                            }

                            &:hover {
                                >ul {
                                    top: 0;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }

                            >ul {
                                position: absolute;
                                top: 10px;
                                left: 100%;
                                width: 220px;
                                height: 140px;
                                background-color: #fff;
                                opacity: 0;
                                visibility: hidden;
                                transition: .2s;

                                >li {
                                    width: 220px;
                                    height: 33%;
                                    list-style-type: none;
                                    position: relative;
                                    left: -32px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    cursor: pointer;

                                    &:first-of-type {
                                        border-top: 2px solid #007bff;
                                    }

                                    &:hover {
                                        background-color: rgba(236, 236, 236, 0.7);
                                    }

                                    >a {
                                        width: 100%;
                                        height: 100%;
                                        text-decoration: none;
                                        color: rgba(0, 0, 0, 1);
                                        padding-left: 20px;
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >div {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: #fff;

        >h2 {
            font-size: 50px;
            text-transform: uppercase;
        }

        >p {
            margin: 10px 0 50px;
            font-size: 20px;
            text-align: center;
        }

        >button {
            width: 150px;
            height: 45px;
            border: none;
            border-radius: 50px;
            text-transform: capitalize;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            transition: .2s;

            &:hover {
                background-color: #000;
            }
        }
    }

    >.mouse {
        width: 26px;
        height: 45px;
        border: 2px solid #fff;
        border-radius: 60px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 40%;
            background-color: #fff;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 1.5s infinite;
        }

    }
}

/* second section */
.about-us {
    padding: 70px 0;
    margin-bottom: 150px;

    >h2 {
        color: #007bff;
        font-size: 40px;
        text-align: center;
        margin-bottom: 70px;
    }

    >div {
        display: flex;
        justify-content: center;

        >figure {
            width: 50%;
            position: relative;

            >img {
                width: 90%;
                position: absolute;
                z-index: 10;
            }

            >.circle {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: #eeeeee7e;
                position: absolute;
                top: 40%;
                left: 52%;
            }
        }

        >div {
            width: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 40px;

            >h3 {
                font-size: 28px;
                margin-left: 33px;
            }

            >p {
                margin: 23px 0;
                color: rgb(94, 94, 94);
                font-size: 17px;
                margin-left: 33px;
            }

            >ul {
                >li {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    >svg {
                        color: #71bc42;
                        width: 20px;
                        height: 20px;
                    }

                    >span {
                        color: rgb(94, 94, 94);
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

/* third section */
.features {
    margin-bottom: 150px;

    >h2 {
        color: #007bff;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    >p {
        color: rgb(94, 94, 94);
        font-size: 19px;
        text-align: center;
        width: 60%;
        margin: 0 auto 70px;
        display: block;
        line-height: 32px;
    }

    >div {
        display: flex;
        justify-content: center;

        >figure {
            width: 50%;
            position: relative;

            >img {
                width: 90%;
            }

            >div {
                position: absolute;
                top: 40%;
                left: 78%;
                width: 130px;
                height: 60px;
                background-color: #007bff;
                border-radius: 8px;
                display: flex;
                overflow: hidden;

                >* {
                    width: 50%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    transition: .2s;

                    &:hover {
                        background-color: #006adb;
                    }

                    >i {
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }

        >div {
            width: 40%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 40px;

            >h3 {
                font-size: 28px;
                margin-left: 33px;
            }

            >p {
                margin: 23px 0;
                color: rgb(94, 94, 94);
                font-size: 17px;
                margin-left: 33px;
            }

            >button {
                width: 150px;
                height: 45px;
                border: none;
                border-radius: 50px;
                text-transform: capitalize;
                font-size: 16px;
                background-color: #007bff;
                color: #fff;
                transition: .2s;
                margin-left: 33px;

                &:hover {
                    background-color: #000;
                }
            }
        }
    }
}

/* fourth section */
.team {
    margin-bottom: 80px;

    >h2 {
        color: #007bff;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    >p {
        color: rgb(94, 94, 94);
        font-size: 19px;
        text-align: center;
        width: 60%;
        margin: 0 auto 70px;
        display: block;
        line-height: 32px;
    }

    .team-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        >div {
            width: 250px;
            margin: 0 12px 25px;
            position: relative;

            >img {
                width: 100%;
                height: 250px;
            }

            >h4 {
                font-size: 20px;
                padding: 15px 0 0 15px;
            }

            >p {
                font-size: 15px;
                padding: 0 0 0 15px;
                color: rgb(94, 94, 94);
            }

            &:hover {
                >div {
                    width: 17%;
                }
            }

            >div {
                background-color: #007bff;
                width: 0;
                overflow: hidden;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                transition: .2s;

                >i {
                    color: #fff;
                    margin: 10px 0;
                    cursor: pointer;
                }
            }
        }
    }
}

/* fifth section */
.portfolio {
    padding: 80px 0;

    >h2 {
        color: #007bff;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    >div:first-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        >button {
            width: 70px;
            height: 40px;
            margin: 0 20px;
            border: none;
            background-color: rgba(236, 236, 236, 0.7);
            border-radius: 50px;
            font-size: 14px;
            transition: .2s;

            &:first-of-type {
                color: #fff;
                background-color: #007bff;
            }

            &:hover {
                color: #fff;
                background-color: #007bff;
            }
        }
    }

    >div:last-of-type {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        >div {
            display: flex;
            flex-direction: column;

            >figure {
                width: 250px;
                margin: 0 15px 25px;
                position: relative;
                cursor: pointer;
    
                &:hover {
                    >img {
                        filter: brightness(50%);
                    }
    
                    >i {
                        opacity: 1;
                    }
                }
    
                >* {
                    transition: .4s;
                }
    
                >img {
                    width: 100%;
                }
    
                >i {
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    color: #fff;
                    font-size: 24px;
                    opacity: 0;
                }
            }
        }
    }
}
/* reza */


/* alireza */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  
  .fade-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-bottom: 100px; /* Full viewport height to separate sections */
  }
  .fade-section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /*start Services section */
  
  #Services {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 100px;
    padding: 50px 0;
    background-color: #efefef;
  
    > .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  
      > .head-items-Services {
        > h2 {
          font-size: 40px;
          font-weight: 800;
          color: #007bff;
          margin-bottom: 60px;
        }
      }
  
      > .items-Services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
  
        > .box-items-Services {
          width: 32%;
          margin: 30px 0;
  
          > span {
            display: block;
            font-size: 60px;
            color: #007bff;
          }
  
          > h3 {
            color: #000;
            font-size: 20px;
            font-weight: 500;
            margin: 20px 0;
          }
  
          p {
            font-size: 20px;
            font-weight: 400;
            color: gray;
            line-height: 1.7;
            margin-bottom: 20px;
  
            > a {
              color: #0056b3;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  
  /*end Services section */
  
  /*start Testimonials section */
  
  #Testimonials {
    margin-bottom: 200px;
  
    > .Testimonials-owl {
      > h3 {
        font-size: 50px;
        color: #007bff;
        text-align: center;
        margin-bottom: 80px;
        font-weight: 800;
      }
    }
  
    .item {
      text-align: center;
      width: 70%;
      margin: auto;
  
      > h4 {
        color: gray;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 40px;
      }
  
      > figure {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
  
        > img {
          width: 100px;
          border-radius: 50%;
          margin-right: 10px;
        }
  
        p {
          margin: 0;
          margin-left: 10px;
          font-size: 20px;
          font-weight: 500;
          color: gray;
        }
      }
    }
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #007bff !important;
  }
  
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px !important;
  }
  
  /*end Testimonials section */
  
  /*start pricing section */
  
  #Pricing {
    padding: 50px 0;
    margin-bottom: 100px;
    /* background-color: red; */
    > .container-fluid {
      > h3 {
        font-size: 50px;
        text-align: center;
        font-weight: 800;
        color: #007bff;
        margin-bottom: 100px;
      }
      > .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
  
        > .box-pricing {
          > h4 {
            font-size: 35px;
            text-align: center;
            margin-bottom: 20px;
          }
  
          > div {
            text-align: center;
  
            > span {
              color: gray;
              font-size: 20px;
  
              > span {
                color: #007bff;
                font-size: 50px;
              }
            }
          }
  
          > ul {
            margin: 30px 0;
            padding: 10px 20px;
  
            > li {
              position: relative;
              color: gray;
              font-size: 22px;
              list-style-type: none;
              margin-bottom: 20px;
              padding-left: 40px;
  
              > span:nth-of-type(1) {
                color: #71bc42;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                font-size: 30px;
              }
            }
          }
  
          .btn-pricing {
            > a {
              background-color: gray;
              color: white;
              font-size: 25px;
              padding: 15px 35px;
              text-decoration: none;
              border-radius: 30px;
              transition: 0.4s;
  
              &:hover {
                background-color: #4b4b4b;
              }
            }
          }
  
          &:nth-of-type(1) {
            > ul > li:nth-of-type(n + 3) {
              text-decoration: line-through;
              color: #dee2e6;
  
              > span {
                color: #dee2e6;
              }
            }
          }
  
          &:nth-of-type(2) {
            > ul > li:nth-last-child(1) {
              color: #dee2e6;
              text-decoration: line-through;
  
              > span {
                color: #dee2e6;
              }
            }
            > .btn-pricing > a {
              background-color: #007bff;
  
              &:hover {
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
  
  /*end pricing section */
  
  /*start Questions section */
  
  #Questions {
    padding: 100px 0;
  
    > .Questions {
      > h3 {
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        color: #007bff;
        margin-bottom: 100px;
      }
  
      > .Questions-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 10%;
  
        > div {
          width: 40%;
          padding: 10px 20px;
          margin-bottom: 40px;
  
          > h4 {
            font-size: 25px;
            margin-bottom: 20px;
          }
  
          > p {
            font-size: 16px;
            line-height: 26px;
            color: gray;
          }
        }
      }
    }
  }
  
  /*start Questions section */
  
/* alireza */


/* hamed */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-us{
    display: flex;
    height: 553px;
    align-items: center;

}
.content{
    display: flex;
    width: 100%;
    height: 345px;
    justify-content: center;
}
.image{
    img{
        width: 80%;
        object-fit:contain;
    }
    width: 50%;
    display: flex;
    padding: 2%;
    justify-content:center;
}

.items{
    display: flex;
    width: 50%;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 30px;
    >h5{
        margin-top: 30px;
    }
    p{
        color: gray;
    }
}
a{
    text-decoration: none;
}
.material-symbols-outlined{
    color: #087be6;
}
.our-blog{
    height: 1123px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}
h3{
    width: 100%;
    color: #007bff;
    height: 48px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 120px;   
}
/* post section start*/
.post{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    img{
        width: 100%;
    }
    span{
        color: #b3b3b3;
        font-size: 14px;
    }
    p{
        margin-top: 20px;
        color: gray;
    }
    h2{
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
        a{
            color: black;
            font-weight: 400;

        }
    }
}
/* post section end */

/* contact section start*/
.contact{
    height: 1234px;
    background-color: #f8f9fa;
    .contact-form{
        margin-top: 70px;
        height: 756px;
        background-color: white;
        padding-top: 20px;
        >h4{
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 50px;
        }
       form{
            margin: 50px 50px 50px 50px;
            .row1{
            display: flex;
            justify-content: space-between;
            gap: 30px;
                >div{
                    width: 50%;
                }
                }
                label{
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                input, textarea, button{
                    border-radius: 30px;
                    height: 43px;
                    border: 1.5px solid #ced4da;
                    padding: 15px;
                    color: gray;
                &:focus{
                    outline: 1.5px solid #007bff;
                    border: none;
                }
                }
                input, textarea{
                    width: 100%;
                }
                textarea{
                    height: 187px;

                    &:focus{
                    outline: 1.5px solid #007bff;
                    border: none;
                    }
                }
                >button{
                    padding: 0px;
                    margin-top: 10px;
                    background-color: #007bff;
                    color: white;
                    width: 170px;
                    height: 45px;
                    transition: all 0.3s;
                    &:hover{
                        background-color: black;
                    }
                }
       }
    }
    h3{
        margin-bottom: 1rem;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .row{
        display: flex;
        >div{
            flex: 1 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            >p{
                color: gray;
                text-align: center;
                padding: 0 10px;
            }
        }
    }

}
/* contact section end*/

/* footer section start*/
.footer{
    background-color: #333333;
    height: 643px;
    padding: 100px 50px 100px 50px;
    input, button{
        height: 45px;
    }
    input{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        width: 140px;
        background-color:#333333;
        padding:10px;
        border: 1px solid ;
        border-right: none;
        color: white;
        &:focus{
            border: 1px solid ;
            border-right: none;
            outline: none;
        }
    }
    button{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 90px;
        position: absolute;
        border-left: none;
        border: 0.5px solid #007bff;   
        &:hover{
            border: 0.5px solid black;   
        }
    }
    ::selection{
        background-color: black;
        color: white;
    }
    h5{
        color: white;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .footer-row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        input{
            border: 1px solid gray;
            border-right: none;
        }
        P, a, i{
            color: gray;
        }
        i,a{
            transition:all 0.5s;
            &:hover{
                color: white;
            }
        }
        div{
            width: 20%;
            &:first-of-type{
                flex-grow: 1;
                padding-right: 150px;  
            }
            &:nth-of-type(2){
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                a{
                    margin-bottom: 10px;
                }
            }
            &:nth-of-type(3){
                i{
                    margin-right: 30px;
                }
            }
        }
    }
    .copyright{
        border-top: 1px solid gray;
        text-align: center;
        color:gray;
        padding-top: 50px;
    }
}
/* footer section end*/
/* hamed */
